<div class="newsletters-management m-b-xl">
  <div class="row">
    <div class="container-fluid">
      <div class="table-responsive table-manager">
        <table ng-table="vm.disputesTable"
               class="table table-condensed table-striped">
          <tr ng-repeat="$row in $data track by $index">
            <td title="'Dispute ID'"
                sortable="'id'"
                class="m-w-sm">
              {{ $row.id }}
            </td>
            <td title="'Date'"
                sortable="'date'"
                class="m-w">
              {{ $row.date | amDateFormat:"MMM DD, YYYY hh:mm" }}
            </td>
            <td title="'User A'"
                sortable="'user_a'"
                class="m-w">
              {{ $row.challenge.user.username || 'N/A'}}
            </td>
            <td title="'User B'"
                sortable="'user_b'"
                class="m-w">
              {{ $row.challenge.opponent.username || 'N/A' }}
            </td>
            <td title="'User A Decision'"
                class="m-w">
              {{ vm.findResultStatus($row.challenge.user.result.status) }}
            </td>
            <td title="'User B Decision'"
                class="m-w">
              {{ vm.findResultStatus($row.challenge.opponent.result.status) }}
            </td>
            <td title="'User A Motivation Text'"
                class="m-w-md">
              {{ $row.challenge.user.result.reason }}
            </td>
            <td title="'User B Motivation Text'"
                class="m-w-md">
              {{ $row.challenge.opponent.result.reason }}
            </td>
            <td title="'User A Evidence'"
                class="m-w">
              <div class="thumbnail size45x45"
                   ng-click="vm.openReviewResult($row.challenge.user.result)"
                   ng-repeat="item in $row.challenge.user.result.images"
                   style="background-image: url('{{ item.src || noImage }}')">
              </div>
            </td>
            <td title="'User B Evidence'"
                class="m-w-md">
              <div class="thumbnail size45x45"
                   ng-click="vm.openReviewResult($row.challenge.opponent.result)"
                   ng-repeat="item in $row.challenge.opponent.result.images"
                   style="background-image: url('{{ item.src || noImage }}')">
              </div>
            </td>
            <td title="'Status'"
                class="m-w">
              {{ vm.bindDisputeStatus($row.status) }}
            </td>
            <td title="'Actions'"
                class="m-w-sm">
              <button class="btn btn-icon"
                      uib-tooltip="Solve"
                      tooltip-placement="bottom"
                      ng-click="vm.solve($row)">
                Solve
              </button>
            </td>
          </tr>
        </table>

        <!-- table empty -->
        <div class="padder m-b-xl"
             ng-if="vm.pagination.total == 0">
          <div class="empty">
            Not Dispute(s) found.
          </div>
        </div>
      </div>
    </div>

    <!-- pagination -->
    <div class="row">
      <div class="container-fluid text-center">
        <uib-pagination ng-if="vm.pagination.total > vm.pagination.perPage"
                        total-items="vm.pagination.total"
                        ng-model="vm.pagination.page"
                        ng-change="vm.pagination.change()"
                        items-per-page="vm.pagination.perPage"
                        max-size="vm.pagination.maxSize"
                        class="pagination"
                        boundary-links="false"
                        rotate="false"
                        previous-text="&laquo;"
                        next-text="&raquo;"
                        first-text="&laquo;"
                        last-text="&raquo;"/>
      </div>
    </div>
  </div>
</div>