<div class="products-management m-b-xl">
  <div class="row">
    <div class="container-fluid">
      <div class="table-responsive table-manager">
        <table ng-table="vm.productTable"
               class="table table-condensed table-striped">
          <tr ng-repeat="$row in $data track by $index">
            <td title="'Product ID'"
                sortable="'id'"
                class="m-w-sm">
              {{ $row.id }}
            </td>
            <td title="'Name'"
                sortable="'name'"
                class="m-w">
              {{ $row.name }}
            </td>
            <td title="'Collection'"
                sortable="'name'"
                class="m-w">
              {{ $row.collection.name }}
            </td>
            <td title="'Categories'"
                sortable="'name'"
                class="m-w">
              {{ $row.categories.name || 'N/A'}}
            </td>
            <td title="'Description'"
                class="m-w">
              {{ $row.description }}
            </td>
            <td title="'Image'"
                class="m-w-md">
              {{ $row.image }}
            </td>
            <td title="'Detail'"
                class="m-w-md">
              {{ $row.detail }}
            </td>
            <td title="'Actions'"
                class="m-w-sm">
                <button class="btn btn-icon"
                      uib-tooltip="Edit"
                      tooltip-placement="bottom"
                      ng-click="vm.openEdit($row)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-icon"
                      uib-tooltip="Delete"
                      tooltip-placement="bottom"
                      ng-click="vm.openDestroy($row)">
                <i class="fa fa-trash"></i>
              </button>

            </td>
          </tr>
        </table>

        <!-- table empty -->
        <div class="padder m-b-xl"
             ng-if="vm.pagination.total == 0">
          <div class="empty">
            Not Product(s) found.
          </div>
        </div>
      </div>
    </div>

    <!-- pagination -->
    <div class="row">
      <div class="container-fluid text-center">
        <uib-pagination ng-if="vm.pagination.total > vm.pagination.perPage"
                        total-items="vm.pagination.total"
                        ng-model="vm.pagination.page"
                        ng-change="vm.pagination.change()"
                        items-per-page="vm.pagination.perPage"
                        max-size="vm.pagination.maxSize"
                        class="pagination"
                        boundary-links="false"
                        rotate="false"
                        previous-text="&laquo;"
                        next-text="&raquo;"
                        first-text="&laquo;"
                        last-text="&raquo;"/>
      </div>
    </div>
  </div>
</div>