<div class="edit-account" modal-center>
  <div class="modal-header bg-main">
    <button class="close"
            ng-click="vm.close()">
      <span class="">&times;</span>
    </button>
    <h3 class="modal-title  text-uppercase">
      Edit Account
    </h3>
  </div>
  <div class="modal-body m-b-xxl">
    <!-- profile avatar-->

    <div class="row">
      <div class="container-fluid">
        <form name="form"
              class="form-validation"
              autofocus
              novalidate>

          <!-- left side -->
          <div class="row ">
            <div class="col-sm-6 left-side">
              <div class="row">
                <div class="container-fluid">
                  <div class="text-center">
                    <input type="file" id="profile-file" class="hidden"
                           onchange="angular.element(this).scope().vm.selectFile(this)"/>
                    <div class="thumbnail size90x90 circle pointer"
                         style="background-image: url('{{ vm.account.avatar_thumbnail || noProfileImage}}')"
                         ng-click="vm.openUploadFile()">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group"
                   ng-class="{'has-error': vm.error.username}">
                <label class="control-label">Username</label>
                <input type="text"
                       class="form-control"
                       ng-model="vm.account.username"
                       ng-change="vm.error.username = false"
                       maxlength="100"
                       required/>
                <span class="color-required"
                      ng-show="vm.error.username">{{ vm.error.username }}</span>
              </div>
              <div class="form-group"
                   ng-class="{'has-error': vm.error.email}">
                <label class="control-label">Email</label>
                <input type="text"
                       class="form-control"
                       ng-model="vm.account.email"
                       ng-change="vm.error.email = false"
                       maxlength="100"
                       minlength="10"
                       validate-email
                       ng-disabled="true"
                       required/>
                <span class="color-required"
                      ng-show="vm.error.phone">{{ vm.error.email }}</span>
              </div>
              <div class="form-group"
                   ng-class="{'has-error': vm.error.phone}">
                <label class="control-label">Phone</label>
                <input type="text"
                       class="form-control"
                       ng-model="vm.account.phone"/>
                <span class="color-required"
                      ng-show="vm.error.phone">{{ vm.error.phone }}</span>
              </div>
            </div>
            <div class="col-sm-6 right-side">
              <div class="form-group"
                   ng-class="{'has-error': vm.error.first_name}">
                <label class="control-label">First Name</label>
                <input type="text"
                       class="form-control "
                       ng-model="vm.account.first_name"
                       ng-change="error.first_name = false"
                       required/>
                <span class="color-required"
                      ng-show="vm.error.first_name">{{ vm.error.first_name }}</span>
              </div>
              <div class="form-group"
                   ng-class="{'has-error': vm.error.surname}">
                <label class="control-label">Surname</label>
                <input type="text"
                       class="form-control "
                       ng-model="vm.account.surname"
                       ng-change="error.surname = false"/>
              </div>

              <div class="form-group"
                   ng-class="{'has-error': vm.error.country}">
                <label class="control-label">Country</label>
                <select class="selectpicker form-control"
                        ng-model="vm.account.location_id"
                        ng-change="vm.error.location_id = false"
                        maxlength="100"
                        required>
                  <option value="">Select Country</option>
                  <option ng-repeat="location in vm.locations"
                          ng-selected="location.id === vm.account.location_id"
                          value="{{ location.id}}">
                    {{ location.location }}
                  </option>
                </select>
              </div>

              <div class="form-group"
                   ng-class="{'has-error': vm.error.province}">
                <label class="control-label">Province</label>
                <input type="text"
                       class="form-control"
                       placeholder="Province"
                       maxlength="100"
                       ng-model="vm.account.province"/>
              </div>
              <div class="form-group"
                   ng-class="{'has-error': vm.error.city}">
                <label class="control-label">City</label>
                <input type="text"
                       class="form-control"
                       placeholder="City Name"
                       maxlength="100"
                       ng-change="vm.error.city = false"
                       ng-model="vm.account.city" required/>
              </div>
              <div class="form-group"
                   ng-class="{'has-error': vm.error.postal_code}">
                <label class="control-label">Postal Code</label>
                <input type="text"
                       class="form-control"
                       placeholder="Postal Code"
                       maxlength="100"
                       ng-change="vm.error.postal_code = false"
                       ng-model="vm.account.postal_code" required/>
                <span class="color-required"
                      ng-show="vm.error.postal_code">{{ vm.error.postal_code }}</span>
              </div>
              <div class="form-group"
                   ng-class="{'has-error': vm.error.address}">
                <label class="control-label">Address</label>
                <input type="text"
                       class="form-control"
                       ng-model="vm.account.address"
                       ng-change="vm.error.address"
                       required/>
                <span class="color-required"
                      ng-show="vm.error.address">{{ vm.error.address }}</span>
              </div>
              <div class="form-group"
                   ng-class="{'has-error': vm.error.address2}">
                <label class="control-label">Address continued (optional)</label>
                <input type="text"
                       class="form-control"
                       ng-model="vm.account.address2"/>
                <span class="color-required"
                      ng-show="vm.error.address2">{{ vm.error.address2 }}</span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer ">
    <div class="row">
      <div class="container-fluid text-center">
        <button class="btn btn-main"
                ng-click="vm.edit()"
                ng-disabled="form.$invalid">
          Save
        </button>
      </div>
    </div>
  </div>
</div>