<div class="users-management bg-white m-b-xl">
  <div class="row">
    <div class="container-fluid">
      <div class="padder">
        <div class="pull-right">
          <search-box ng-model="vm.keyword"
                      search="vm.search()"
                      placeholder="Search ..."></search-box>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <div class="table-responsive table-manager">
        <table ng-table="vm.usersTable"
               class="table table-condensed table-striped">
          <tr ng-repeat="$row in $data track by $index">
            <td title="''"
                class="text-center m-w-xs">
              <div class="thumbnail size45x45 circle m-b-none"
                   style="background-image: url('{{ $row.avatar_thumbnail || noProfileImage}}')">
              </div>
            </td>
            <td title="'Username'"
                sortable="'username'"
                class="m-w-md">
              {{ $row.username }}
            </td>
            <td title="'Surname'"
                sortable="'surname'"
                class="m-w">
              {{ $row.surname }}
            </td>
            <td title="'DoB'"
                sortable="'date_of_birth'"
                class="m-w-sm">
              {{ $row.date_of_birth | amDateFormat:'MMM DD, YYYY' }}
            </td>
            <td title="'Phone'"
                sortable="'phone'"
                class="m-w-md">
              {{ $row.phone }}
            </td>
            <td title="'Location'"
                sortable="'location'"
                class="m-w">
              {{ $row.location.location }}
            </td>
            <td title="'Actions'"
                class="m-w-sm">
              <button class="btn btn-icon"
                      uib-tooltip="Edit"
                      tooltip-placement="bottom"
                      ng-click="vm.openEdit($row)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-icon"
                      uib-tooltip="Reset"
                      tooltip-placement="bottom"
                      ng-click="vm.openReset($row)">
                <i class="fa fa-key"></i>
              </button>
              <button class="btn btn-icon"
                      uib-tooltip="Remove"
                      tooltip-placement="bottom"
                      ng-click="vm.openDestroy($row)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </table>

        <!-- table empty -->
        <div class="padder m-b-xl"
             ng-if="vm.pagination.total == 0">
          <div class="empty">
            Not User(s) found.
          </div>
        </div>
      </div>
    </div>

    <!-- pagiantion -->
    <div class="row">
      <div class="container-fluid text-center">
        <uib-pagination ng-if="vm.pagination.total > vm.pagination.perPage"
                        total-items="vm.pagination.total"
                        ng-model="vm.pagination.page"
                        ng-change="vm.pagination.change()"
                        items-per-page="vm.pagination.perPage"
                        max-size="vm.pagination.maxSize"
                        class="pagination"
                        boundary-links="false"
                        rotate="false"
                        previous-text="&laquo;"
                        next-text="&raquo;"
                        first-text="&laquo;"
                        last-text="&raquo;"/>
      </div>
    </div>
  </div>
</div>