<div class="edit-user" modal-center>
  <div class="modal-header bg-main">
    <button class="close"
            ng-click="vm.close()">
      <span class="">&times;</span>
    </button>
    <h3 class="modal-title  text-uppercase">
        Edit Categories
    </h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="container-fluid">
        <form name="form"
              class="form-validation"
              autofocus
              novalidate>
          <div class="form-group"
               ng-class="{'has-error': vm.error.name}">
            <label class="control-label">Categories Name</label>
            <input type="text"
                   class="form-control"
                   ng-model="vm.categories.name"
                   ng-change="vm.error.name = false"
                   maxlength="100"
                   required/>
            <span class="color-required"
                  ng-show="vm.error.name">{{ vm.error.name }}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer ">
    <div class="row">
      <div class="container-fluid text-center">
        <button class="btn btn-main"
                ng-click="vm.edit()">
              
          Save
        </button>
      </div>
    </div>
  </div>
</div>